In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats

def generate_patient_vitals(id, n, t=3):
    np.random.seed(id)
    
    # Simulate random values for heart rate (bpm)
    heart_rate = np.round(stats.truncnorm.rvs(-t, t, 72, 12, n), 2)
    
    # Simulate random values for blood pressure (mmHg)
    systolic_bp = np.round(stats.truncnorm.rvs(-t, t, 115, 12, n), 2)
    diastolic_bp = np.round(stats.truncnorm.rvs(-t, t, 75, 10, n), 2)

    # Simulate random values for temperature (Â°C)
    temperature = np.round(stats.truncnorm.rvs(-t, t, 37, 0.5, n), 2)

    # Simulate random values for respiration rate (breaths per minute)
    respiration_rate = np.round(stats.truncnorm.rvs(-t, t, 17, 3, n), 2)

    # Simulate random values for SpO2 (%)
    spo2 = np.round(stats.truncnorm.rvs(-t, t, 98, 1.5, n), 2)
    spo2[spo2 > 100] = 100

    return pd.DataFrame({
        'Patient ID': id,
        'Heart Rate': heart_rate,
        'Systolic BP': systolic_bp,
        'Diastolic BP': diastolic_bp,
        'Temperature': temperature,
        'Respiration Rate': respiration_rate,
        'SpO2': spo2
    })

,Patient ID,Heart Rate,Systolic BP,Diastolic BP,Temperature,Respiration Rate,SpO2
0,1,69.49,112.56,83.41,36.36,23.73,94.94
1,1,78.98,120.77,93.38,36.90,19.00,98.69
2,1,36.30,105.12,70.15,37.86,15.26,96.80
3,1,65.81,128.93,80.01,37.04,19.40,97.06
4,1,59.44,92.19,86.52,37.25,13.23,97.97
5,1,56.16,120.28,87.46,36.76,16.61,95.60
6,1,61.34,112.50,61.35,37.24,20.98,98.28
7,1,67.25,116.77,57.53,37.48,15.38,96.43
8,1,68.87,102.11,65.49,35.97,15.33,98.34
9,1,73.17,104.85,86.61,37.34,13.64,98.78

In [2]:
patient_df = pd.DataFrame([])
for i in range(1, 11):
    patient_df = pd.concat([patient_df, generate_patient_vitals(i, 100)])

In [3]:
patient_df.columns

Index(['Patient ID', 'Heart Rate', 'Systolic BP', 'Diastolic BP',
       'Temperature', 'Respiration Rate', 'SpO2'],
      dtype='object')

In [4]:
patient_df.describe()

,Patient ID,Heart Rate,Systolic BP,Diastolic BP,Temperature,Respiration Rate,SpO2
count,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000
mean,5.500000,71.757730,114.64872,75.003520,37.010400,17.047100,97.868930
std,2.873719,11.320872,12.03627,9.678028,0.496171,2.943674,1.441492
min,1.000000,36.300000,80.63000,45.770000,35.650000,8.490000,93.520000
25%,3.000000,64.595000,106.19500,68.525000,36.690000,15.140000,96.850000
50%,5.500000,71.860000,115.09500,75.115000,37.015000,17.075000,97.930000
75%,8.000000,78.985000,123.11250,81.900000,37.350000,19.045000,99.012500
max,10.000000,101.410000,146.80000,101.250000,38.430000,25.300000,100.000000

In [5]:
patient_df.to_csv("patient_vitals_CSV/patient_vitals.csv")